@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, BlinkMacSystemFont, Inter, Noto Sans JP, Noto Sans KR, sans-serif;
    box-sizing: border-box;
    outline: none;
}

i {
    font-family: Fontawesome;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    height: 8.5%;
}

main {
    display: flex;
    flex-direction: row;
    height: 91.5%;
    padding: 15px 25px 15px 25px;
}

main .scrollable {
    overflow-y: scroll;
}

main > #people, main > #chat {
    border-radius: 20px;
    box-shadow: var(--shadow-border-blk);
}

main > #people {
    width: 40%;
    margin-right: 15px;
}

main > #chat {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 15px;
    background: var(--white-g);
}

#chat > #bubbles > .bubble-outter {
    margin-bottom: 17.5px;
}

#chat > #bubbles > .bubble-outter.self {
    display: flex;
    align-items: flex-end;
}

#chat > #bubbles > .bubble-outter > .bubble-inner {
    display: inline-block;
    max-width: 70%;
    padding: 12.5px 20px 12.5px 20px;
    border-radius: 20px;
    user-select: none;
}

#chat > #bubbles > .bubble-outter.self > .bubble-inner {
    color: white;
    margin-left: auto;
    background: var(--accent);
    box-shadow: var(--shadow-border-acc);
}

#chat > #bubbles > .bubble-outter.server > .bubble-inner {
    background: white;
    box-shadow: var(--shadow-border-blk);
}

#chat > #input-outter {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    justify-self: end;
    height: 45px;
    padding: 15px;
    background: transparent;
}

#chat > #input-outter > #input-inner {
    display: flex;
    align-items: center;
    background: white;
    box-shadow: var(--shadow-border-blk);
    padding: 5px;
    width: 65%;
    height: 100%;
    border-radius: 22px;
}

#chat > #input-outter > #input-inner > textarea, #chat > #input-outter > #input-inner > button {
    height: 100%;
    border: none;
}

#chat > #input-outter > #input-inner > textarea {
    display: block;
    resize: none;
    background: none;
    border: none;
    padding: 0;
    width: 90%;
    justify-self: start;
}

#chat > #input-outter > #input-inner > button {
    display: block;
    color: white;
    background: var(--accent);
    padding: 0;
    width: 31px;
    height: 31px;
    margin-left: auto;
    justify-self: end;
    border-radius: 15.5px;
    cursor: pointer;
    font-size: 16px;
    transition: background .2s;
}

#chat > #input-outter > #input-inner > button:hover {
    background: var(--accent-d);
    transition: background .2s;
}