/* Init */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, BlinkMacSystemFont, Inter, Noto Sans JP, Noto Sans KR, sans-serif;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    color: var(--txt-clr);
}

i {
    font-family: Fontawesome;
}

a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}

button, button:hover, button:active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg);
}

header, main {
    display: flex;
    flex-direction: row;
    padding: 15px 11% 15px 11%;
}

header {
    height: 8.5%;
    align-items: center;
    user-select: none;
}

main {
    width: 100%;
    height: 91.5%;
}

main .scrollable {
    overflow-y: scroll;
}

main > #friends, main > #chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main > #friends {
    width: 25%;
    padding: 0 15px 0 15px;
}

main > #chat {
    width: 75%;
    background: var(--bg-a);
    box-shadow: var(--border-b);
    border-radius: 20px;
}

/* Header */

header > #title {
    font-weight: 800;
    font-size: 24px;
    margin-right: 10px;
}

header > #version {
    font-weight: 300;
    font-size: 18px;
}

header > a#signin {
    margin-left: auto;
    justify-self: flex-end;
    background: var(--blu);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: var(--border-a);
    transition: background .2s;
}

header > a#signin:hover {
    background: var(--blu-a);
}

/* People */

#friends > #users > .user, #friends > #pref {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: var(--bg);
    border-radius: 7.8px;
    padding: 10px;
}

#friends > #users > .user {
    height: 60px;
    box-shadow: var(--border-g);
    margin-bottom: 10px;
    cursor: pointer;
    transition: box-shadow .15s;
}

#friends > #users > .user:hover, #friends > #users > .user.selected {
    box-shadow: var(--border-b);
}

#friends > #users > .user > img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 2%) 0px 0px 2px inset;
    margin-right: 10px;
}

#friends > #users > .user > .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    user-select: none;
}

#friends > #users > .user > .info > .un {
    font-weight: 500;
    font-size: 17px;
}

#friends > #users > .user > .info > .lm {
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    font-size: 12px;
}

#friends > #pref {
    height: 50px;
    margin-top: auto;
    justify-self: flex-end;
    box-shadow: var(--border-b);
}

/* Chat */

#chat > #info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
    height: 45px;
    background: var(--bg);
    border-radius: 20px 20px 0 0;
    box-shadow: var(--border-b);
}

#chat > #info i {
    font-size: 16px;
}

#chat > #info > i.fa-user {
    margin-right: 12px;
}

#chat > #info > .un {
    font-size: 17px;
    font-weight: 800;
}

#chat > #info > button.rm {
    justify-self: end;
    margin-left: auto;
}

#chat > #info > button.rm > i {
    color: var(--red);
}

#chat > #bubbles {
    padding: 15px;
}

#chat > #bubbles > .bubble-outter {
    margin-bottom: 17.5px;
}

#chat > #bubbles > .bubble-outter.self {
    display: flex;
    align-items: flex-end;
}

#chat > #bubbles > .bubble-outter > .bubble-inner {
    display: inline-block;
    max-width: 60%;
    padding: 12.5px 17.5px 12.5px 17.5px;
    border-radius: 20px;
    user-select: none;
}

#chat > #bubbles > .bubble-outter.self > .bubble-inner {
    color: white;
    margin-left: auto;
    background: var(--blu);
    box-shadow: var(--border-a);
}

#chat > #bubbles > .bubble-outter.server > .bubble-inner {
    background: var(--bg-g);
    box-shadow: var(--border-b);
}

#chat > #input-outter {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    justify-self: end;
    height: 45px;
    padding: 15px;
    background: transparent;
}

#chat > #input-outter > #input-inner {
    display: flex;
    align-items: center;
    background: var(--bg-i);
    box-shadow: var(--border-b);
    padding: 5px;
    width: 55%;
    height: 100%;
    border-radius: 22px;
}

#chat > #input-outter > #input-inner > textarea, #chat > #input-outter > #input-inner > button {
    height: 100%;
}

#chat > #input-outter > #input-inner > textarea {
    display: block;
    resize: none;
    background: none;
    border: none;
    padding: 0;
    border: none;
    width: 90%;
    justify-self: start;
}

#chat > #input-outter > #input-inner > button {
    background: var(--blu);
    padding: 0;
    width: 31px;
    height: 31px;
    margin-left: auto;
    justify-self: end;
    border-radius: 15.5px;
    font-size: 16px;
    transition: background .15s;
}

#chat > #input-outter > #input-inner > button > i {
    color: white;
}

#chat > #input-outter > #input-inner > button:hover {
    background: var(--blu-a);
}